<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<script type="text/javascript" language="javascript">

    function filterByType() {
        var xhr = new XMLHttpRequest();
        var trees = document.getElementsByTagName("tr");
        xhr.onload = function () {
            if(xhr.status === 200) {
                var res = JSON.parse(xhr.response);
                for(var i = 0; i < trees.length; i++){
                    trees[i].deleteCell(0)
                    trees[i].deleteCell(1)
                    trees[i].deleteCell(-1)
                }
                for(var i = 0; i < res.length; i++){
                    console.log(res[i])
                    var cell = trees[i].insertCell(0)
                    cell.appendChild(document.createTextNode("Table id " + res[i]["id"] + ", costs " + res[i]["price"]
                        + " number " + res[i]["number"] + ", can hold " + res[i]["numOfPeople"] + " people"))

                    var cell2 = trees[i].insertCell(1)
                    var formUpd = document.createElement("form")

                    var btnUpd = formUpd.appendChild(document.createElement("button"))
                    btnUpd.innerText = "Update"

                    var atrUpd = document.createAttribute("type")
                    atrUpd.value = "submit"
                    btnUpd.setAttributeNode(atrUpd)

                    formUpd.action = "update-resource/" + res[i]["id"]

                    cell2.appendChild(formUpd)

                    var cell3 = trees[i].insertCell(-1)

                    var formDel = document.createElement("form")

                    var btnDel = formDel.appendChild(document.createElement("button"))
                    btnDel.innerText = "Delete"

                    var atrDelType = document.createAttribute("type")
                    atrDelType.value = "submit"
                    btnDel.setAttributeNode(atrDelType)

                    var atrDelClick = document.createAttribute("onclick")
                    atrDelClick.value = "return window.confirm('Are you sure ?')"
                    btnDel.setAttributeNode(atrDelClick)

                    formDel.action = "delete-resource/" + res[i]["id"]

                    cell3.appendChild(formDel)
                }
                document.getElementById("back").hidden = false;
                console.log(JSON.parse(xhr.response));
            }
        }
        xhr.open("GET", "all-tables", true);
        xhr.send();
    }
</script>
<body>
<table border="1">
    <tr th:each="res: ${resource}">
        <td th:text="${res}"/>
        <td><form method="get" th:action="@{'update-resource/' + ${res.getId()}}">
            <button type="submit">Update</button>
        </form></td>
        <td><form method="get" th:action="@{'delete-resource/' + ${res.getId()}}">
            <button type="submit" onclick="return window.confirm('Are you sure ?')">Delete</button>
        </form></td>
    </tr>
</table>
<p id="test"></p>
<!-- Uposledzone ale dziala xddddd -->
<form method="get" th:action="@{add-table}">
    <button type="submit">Add table</button>
</form>
<form method="get" th:action="@{add-room}">
    <button type="submit">Add ball room</button>
</form>
<button onclick="filterByType()">Filter</button>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
<form action="">
    <button type="submit" id="back" hidden="hidden">Back</button>
</form>
</body>
</html>