<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<table border="1">
    <tr th:each="cli: ${clients}">
        <td th:text="${cli}"/>
        <td>
            <form method="get" th:action="@{'update-client/' + ${cli.getLogin()}}">
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
</table>
<!-- Uposledzone ale dziala xddddd -->
<form method="get" th:action="@{add-client}">
    <button type="submit">Add client</button>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
<a th:href="@{/main/}">Return</a>
</body>
</html>