<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Ballroom</title>
</head>
<body>
<label th:text="'Update room ' + ${room.id}"/>
<form th:action="@{/resources/update-room}" th:object="${room}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="'Price'" /></td>
            <td><input type="text" th:field="*{price}" /></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
        </tr>
        <tr>
            <td><label th:text="'Description'" /></td>
            <td><input type="text" th:field="*{description}" /></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
        </tr>
        <tr>
            <td><label th:text="'Number of rooms'" /></td>
            <td><input type="text" th:field="*{numOfRooms}" /></td>
            <td th:if="${#fields.hasErrors('numOfRooms')}" th:errors="*{numOfRooms}">NumOfRooms Error</td>
        </tr>
        <tr>
            <td><input type="hidden" th:field="*{id}"></td>
            <td><input type="submit" value="Update" /></td>
        </tr>

    </table>
</form>
<a th:href="@{/resources/}">Return</a>
</body>
</html>