<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Client</title>
</head>
<script type="text/javascript" language="javascript">
    function changeView(selected) {
        document.getElementById("currentType").innerText = selected.value;
    }
</script>
<body>
<label th:text="'Update client ' + ${client.login}"/>
<label id="currentType" th:text="${client.type}"/>
<form action="#" th:action="@{/users/update-client}" th:object="${client}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="'Name'" /></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Surname'" /></td>
            <td><input type="text" th:field="*{surname}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Active'" /></td>
            <td><input type="checkbox" th:checked="*{active}" th:field="*{active}"/></td>
        </tr>
        <tr>
            <td><label th:text="'Type'" /></td>
            <td>
                <select th:field="*{type}" onchange="changeView(this)">
                    <option th:value="'Normal'" th:text="'Normal'"/>
                    <option th:value="'Regular'" th:text="'Regular'"/>
                    <option th:value="'Premium'" th:text="'Premium'"/>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update" /></td>
            <td><input type="hidden" th:field="*{login}"></td>
            <td><input type="hidden" th:field="*{password}"></td>
            <!--<td><input type="hidden" th:field="*{matchingPassword}"></td>-->
        </tr>
    </table>
</form>
</body>
</html>