<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Reservation</title>
</head>
<body>
<p>Add reservation</p>
<form action="#" th:action="@{add-reservation}" th:object="${reservation}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="'ID'" /></td>
            <td><input type="text" th:field="*{id}" /></td>
            <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">ID Error</td>
        </tr>
        <tr>
            <td><label th:text="Client"/></td>
            <td>
                <select th:field="*{client.login}">
                    <option th:each="client : ${clients}" th:value="${client.login}" th:text="${client.login}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label th:text="Resource"/></td>
            <td>
                <select th:field="*{resource.id}">
                    <option th:each="res : ${resources}"
                            th:value="${res.id}" th:text="${res.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label th:text="Beginning"/></td>
            <td><input type="datetime-local" th:field="*{beginning}" /></td>
        </tr>
        <!--<tr>
            <td><label th:text="Ending"/></td>
            <td><input type="datetime-local" th:field="*{ending}" /></td>
        </tr>-->
        <tr>
            <!--<td><input type="hidden" th:field="*{ending}"></td>
            <td><input type="hidden" th:field="*{beginning}"></td>-->
            <td><input type="submit" value="Add" /></td>
        </tr>
    </table>
    <a th:href="@{/reservations/}">Return</a>
</form>
</body>
</html>